:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: myMainFont;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

@font-face {
    font-family: mySecondFont;
    src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
  }

* {
    font-family: myMainFont;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {

}

.image {
    background-image: url("image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {

}

h2 {
    font-family: mySecondFont;
    font-weight: 700;
}

.sale {
    color: var(--Dark-cyan);
}

button {
    background-color: var(--Dark-cyan);
}

@media only screen and (max-width: 1440px){
    /*Desktop Screen*/
    .image {
        background-image: url("images/image-product-desktop.jpg");
    }
}

@media only screen and (max-width: 375px){
	/*Mobile Screen*/
    .image {
        background-image: url("images/image-product-mobile.jpg");
    }
}